* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 62.5%;
}

:root {
    --primary-color: #0A1128;
    --light-blue-color: #4F8CFF;
    --wheat-color: #F1F1E6;
    --yellow-color: #F0C039;

    --white-color: #FFFFFF;
    --menu-color: #0A1128;

    --gap: 3rem;
}


 body {
    height: 100vh;
    width: 100vw;
    background: url(../SVG/background-stars.svg);
    background-size: cover;
    margin: 0rem;
    overflow-x: hidden;
  }
  
  #image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }
  
  #image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  }


/* START MAIN-MENU */

.menu-list {
    font-family: 'Montserrat', sans-serif;

    position: fixed;
    top: 5rem;
    left: 5rem;

    font-size: 0rem; /*Change on click*/

    background: none; /*Change on click*/
    display: flex;
    width: 0rem; /*Change on click*/

    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.main-menu ul {
    display: block;
    list-style: none;
}

.main-menu ul li a {
    text-decoration: none;
    color: var(--menu-color);
}

.main-menu a:hover {
    text-decoration: underline;
}

.main-menu .close-menu{
    display: none;
}

.close-menu-label::after{
    content: '≡';
    font-weight: 700;
    position: fixed;
    z-index: 20;

    top: 1rem;
    left: 2rem;

    background: none;
    color: var(--menu-color);
    font-size: 6rem;
    line-height: 3rem;

    width: 3rem;
    height: 3rem;

    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.close-menu:checked~.menu-list {
    font-size: 8rem;
    width: auto;

    transition-property: all;
    transition-duration: 300ms;
}

.menu-list-botoes {
    font-size: 0rem;
    width: 0rem;

    transition-property: all;
    transition-duration: 300ms;
}
.close-menu:checked~.close-menu-label::after {
    content: '×';
}

/* END MAIN-MENU */